/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #10B981;
    color: white;
}



/*-------- selectors ---------*/

/* color */
.Project-color-blue {
    color: #1B1C57;
}

.Project-color-gray {
    color: #626687;
}

.Project-color-gray-blue {
    color: #3C4563;
}

.Project-color-oringe {
    color: #F59E0B;
}

.Project-color-green-sign-up-text {
    color: #047857;
}

/* background color */
.Project-color-green-search {
    background-color: #10B981;
}

.Project-color-green-sign-up-background {
    background-color: #D1FAE5;
}

/* width */
.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-45 {
    width: 45%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-100 {
    width: 100%;
}

/* flex*/
.display-flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-content-between {
    align-content: space-between;
}

.felx-wrap {
    flex-wrap: wrap;
}

.gap-05 {
    gap: .5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-5 {
    gap: 5rem;
}

/* position */
.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.top-1 {
    top: 1rem;
}

.top-2 {
    top: 2rem;
}

.top-3 {
    top: 3rem;
}

.bottom--3 {
    bottom: -3rem;
}

.right-0 {
    right: 0;
}

.right-3 {
    right: 3rem;
}

.left-0 {
    left: 0;
}

.left--3 {
    left: -3rem;
}

/* margin */
.margin-auto {
    margin: auto;
}

.Mt-2 {
    margin-top: 2rem;
}

.Mt-5 {
    margin-top: 5rem;
}

.Mt-8 {
    margin-top: 8rem;
}

.Mb-1 {
    margin-bottom: 1rem;
}

.Mb-2 {
    margin-bottom: 2rem;
}

.Mb-3 {
    margin-bottom: 3rem;
}

.Mb-5 {
    margin-bottom: 5rem;
}

.Mb-7 {
    margin-bottom: 7rem;
}

/* padding */
.Pt-1 {
    padding-top: 1rem;
}

/* font size */
.text-1 {
    font-size: .7rem;
}

.text-2 {
    font-size: 1rem;
}

.text-3 {
    font-size: 1.5rem;
}

.text-4 {
    font-size: 2rem;
}

/* curso */
.cursor-pointer {
    cursor: pointer;
}



/* body styles */
body {
    font-family: lexend;
}

/*----------- header ----------*/

.logo-search {
    padding: 3rem 6rem 0rem 10rem;
}

.Search-box h2 {
    font-size: 3rem;
}

.outline-blue {
    color: transparent;
    -webkit-text-stroke: 1px #1B1C57;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-input-box input {
    width: 100%;
    border: 2px solid #626687;
    padding: 1rem 10rem 1rem 4rem;
    border-radius: 100rem;
    font-family: inherit;
}

.search-input-box img {
    top: .9rem;
    left: 2rem;
}

.search-input-box input::placeholder {
    color: #626687;
    font-family: inherit;
}

.Search-text {
    text-align: center;
    border-radius: 100rem;
    display: inline-block;
    padding: .8rem 1rem;
    vertical-align: middle;
    top: 3px;
    bottom: 3px;
    right: 3px;
    transition: all ease .5s;
}

.Search-text:hover {
    background-color: #F59E0B;
    transform: translateX(2px);
}

.Search-text a {
    color: white;
    text-decoration: none;
    margin-right: .5rem;
    font-size: .9rem;
}

.Partnership-icon img {
    transition: all ease 1s;
}

.Partnership-icon img:hover {
    transform: translateY(-6px);
}


/*---- nav section */

.nav-image img {
    float: right;
}

.nav-items {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.189);
    padding: .5rem 1rem;
    border: 1px solid white;
    border-radius: 100rem;
    list-style: none;
    transition: all ease .5s;
}

.nav-items:hover {
    background-color: #F59E0B;
    border: 1px solid #F59E0B;
}

.nav-head select {
    font-family: inherit;
}

.nav-head select option {
    color: #fff;
    background-color: #047857;
}

.Sign-up-text {
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 100rem;
    transition: all ease .5s;
}

.Sign-up-text:hover {
    color: #fff;
    background-color: #F59E0B;
}

.green-glow {
    width: 500px;
    height: 500px;
    border-radius: 50%;

    background: radial-gradient(circle,
            rgba(0, 255, 187, 0.6) 0%,
            /* مرکز روشن */
            rgba(0, 255, 187, 0.2) 40%,
            /* کم‌رنگ‌تر */
            rgba(0, 255, 187, 0) 70%
            /* محو شدن */
        );

    z-index: -1;
    left: -10rem;
    top: -10rem;
}


/*---------- main section -------*/

/*----- card-box section */
.card-box-head h2 {
    font-size: 1.5rem;
}

.card-box-head-ul {
    list-style: none;
}

.card-box-head-ul li {
    padding: .5rem 1rem;
    border-radius: 100rem;
    transition: all ease .5s;
}

.card-box-head-ul li:hover {
    transform: translateX(2px);
}

.border-gray {
    border: 2px solid #E0E3EB;
}

.card-box-head-ul li a {
    text-decoration: none;
}

.card-item {
    transition: all ease 1s;
}

.card-item:hover {
    transform: translateY(-4px);
}

/*----- tour house section */
.call-Contact {
    padding: .5rem .9rem;
    background-color: #10B981;
    border-radius: 100rem;
    border: none;
    font-family: inherit;
    transition: all ease .5s;
}

.call-Contact:hover {
    background-color: #F59E0B;
    transform: translateX(2px);
}

.call-Contact a {
    text-decoration: none;
    color: #fff;
}

.tour-house-img img {
    transition: all ease .5s;
}

.tour-house-img img:hover {
    transform: scale(1.1);
}

.yellow-glow {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle,
            rgba(255, 204, 0, 0.47) 0%,
            /* مرکز روشن */
            rgba(255, 204, 0, 0.2) 40%,
            /* کم‌رنگ‌تر */
            rgba(255, 225, 0, 0) 70%
            /* محو شدن */
        );

    z-index: -1;
    right: -8rem;
    top: -12rem;
}

/*------- Comments section */
.content-img {
    border-radius: 1rem;
    height: 400px;
    object-fit: cover;
}

.Comments-text {
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -7rem;
}

.Comments-text>p {
    text-align: justify;
}

.Comments-btn {
    background-color: #10B981;
    border-radius: 100rem;
    padding: 1rem 1.5rem;
    border: none;
    font-family: inherit;
    transition: all ease .5s;
}

.Comments-btn:hover {
    background-color: #F59E0B;
    transform: translateY(-3px);
}

.Comments-btn a {
    text-decoration: none;
    color: #fff;
}

.Comments-text {
    transition: all ease 1s;
}

.Comments-item:hover .Comments-text {
    transform: translateY(-3rem);
} 

/*------------- Articles section */

.mini-Article,
.big-Article {
    transition: all ease 1s;
}

.mini-Article:hover,
.big-Article:hover {
    transform: translateY(-10px);
}

.Articles-section h2 {
    text-align: center;
}

.big-Article-text-description {
    text-align: justify;
}


/*------------- footer section --------*/
.about-us>p {
    text-align: justify;
}

.footer-lists {
    list-style: none;
}

.footer-lists li:first-child {
    font-weight: 800;
    margin-bottom: 1rem;
}

.footer-menu {
    justify-content: end;
}